@{
    @model List<string>;
    ViewData[ "Title" ] = "Home Page";
}

<div class="container">
    <label for="href">Модель</label>
    <input type="text" class="input" id="jq-input" />
    <button class="btn btn-primary" id="jq-button">Показать</button>
    <div class="normal-links-wrapper" id="jq-normal-links-wrapper"></div>
    <div class="broken-links-wrapper" id="jq-broken-links-wrapper"></div>
</div>